<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-lbl" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><span class="h1">shrug.ly</span> <span class="h3"><small>¯\_(ツ)_/¯</small></span></a>
    	</div>
		
		<div class="collapse navbar-collapse" id="navbar-collapse-lbl">
			<ul class="nav navbar-nav navbar-right" ng-if="user">
				<li><p class="navbar-text">{{user.email}}</p></li>
				<li ng-if="user.isAdmin"><a href="/admin">Admin</a></li>
				<li><a href="#" ng-click="logout()">Logout</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right" ng-if="!user">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
					<ul id="login-dropdown" class="dropdown-menu">
						<li>
							<form class="form" role="form" accept-charset="UTF-8" novalidate>
								<div class="form-group">
									<label for="email" class="sr-only">Email address</label>
									<input type="email" id="email" class="form-control" placeholder="Email address" ng-model="credentials.email" required autofocus>
								</div>
								<div class="form-group">
									<label for="password" class="sr-only">Password</label>
									<input type="password" id="password" class="form-control" placeholder="Password" ng-model="credentials.password" required>
								</div>
								<div class="form-group">
									<button class="btn btn-primary btn-block" type="submit" ng-click="login(credentials)">Sign in</button>
								</div>
							</form>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>