<div class="container">
	
	<div class="page-header">
		<span class="h1">shrug.ly </span>
		<span class="h3"><small>¯\_(ツ)_/¯</small></span>
	</div>
	
	<div id="asciimojis-row" class="row">
		<div class="col-md-3 asciimoji-container" ng-repeat="asciimoji in asciimojis">
			<a class="btn btn-default btn-lg btn-block copy-btn" href="#" role="button"
			   data-clipboard-text="{{asciimoji.ascii}}">
				<div class="asciimoji">{{asciimoji.ascii}}</div>
				<small class="copy-message">Copy to clipboard</small>
			</a>
		</div>
	</div>
	
</div>