/* asciimoji buttons */

.asciimoji-container {
	margin-bottom: 2.5rem;
}

#asciimojis-row .btn-block,
#custom-asciimojis-row .btn-block {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#custom-asciimojis-row {
	margin-top: 5rem;
}

.asciimoji,
.add-asciimoji {
	font-size: 2.5rem;
}

.add-asciimoji {
	color: #999;
}

.add-ascii-btn {
	border-style: dashed;
}

.hover-message {
	font-size: 1rem;
	color: #666;
	float: right;
	position: relative;
	right: -1rem;
	bottom: -1.5rem;
	visibility: hidden;
	opacity: 0;
}

.ascii-btn:hover .hover-message,
.add-ascii-btn:hover .hover-message{
	visibility: visible;
	opacity: 1;
}

/* register */

.form-container {
	width: 400px;
	margin: 0 auto 0 auto;
}

/* header */

.navbar-brand .h1 {
	line-height: 0;
	color: #333;
}

.navbar-brand {
}

#login-dropdown {
    min-width: 25rem;
    padding: 1rem 1rem 0;
    overflow: hidden;
    background-color: rgba(255,255,255,1);
}

#login-dropdown .form-group {
    margin-bottom: 1rem;
}

#login-dropdown .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

/* footer */

.footer-bottom {
	margin-top: 8rem;
	font-size: 1.2rem;
	color: #888;
}

.footer-bottom p {
	text-align: right;
	margin-bottom: 0.3rem;
}